@font-face {
  font-family: "Euro Caps";
  src: url("fonts/eurocaps.TTF");
  font-family: "Sintony";
  src: url("fonts/Sintony-Regular.otf");
}
nav {
  background-color: black;
}
nav .sticky {
  background-color: black;
  border-bottom: 1px solid #FF7100;
}
nav .input-group {
  margin: 0 auto;
  line-height: 75px;
}
nav .input-group .input-group-field {
  background-color: black;
  border: 1px solid #FF7100;
  color: #FF7100;
}
nav .input-group .input-group-field:focus {
  -webkit-box-shadow: none;
}
nav .submit-button {
  background-color: #FF7100;
  border: 1px solid #FF7100;
  color: black;
  height: 40px;
  padding: 0 15px 0 15px;
  outline: none;
  font-family: "Euro Caps", Arial, sans-serif;
  text-transform: uppercase;
}
nav .submit-button:hover {
  background-color: black;
  color: #FF7100;
  border: 1px solid #FF7100;
}
nav img {
  line-height: 75px;
  margin: 5px 0;
}
nav ul {
  line-height: 75px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  float: right;
  color: #FF7100;
  margin-right: 30px;
  font-family: "Euro Caps", Arial, sans-serif;
  font-size: 22px;
}
nav ul li a:hover {
  color: #FF7100;
}

body {
  background-color: black;
  margin: 0;
}
body ::-webkit-input-placeholder {
  /* Chrome */
  color: #ff7100;
}

#home-page #grid {
  margin: 10px;
}
#home-page .grid-item {
  width: 32.333%;
  display: inline-block;
  column-break-inside: avoid;
  overflow: hidden;
  margin: 5px;
  border: 1px solid #FF7100;
  padding: 0;
}
#home-page .upload-container {
  background-color: #FF7100;
  padding-left: 20px;
}
#home-page .upload-container h1 {
  font-size: 28px;
  margin: 0;
  padding: 0;
}
#home-page .upload-container a {
  color: black;
  font-family: "Euro Caps", Arial, sans-serif;
}
#home-page .upload-container a a:hover {
  text-decoration: underline;
}

#register-page h1 {
  font-family: "Euro Caps", Arial, sans-serif;
  color: #FF7100;
}
#register-page small {
  font-family: "Sintony", Arial, sans-serif;
  color: #FF7100;
}
#register-page .disclaimer {
  padding-top: 20px;
}
#register-page .disclaimer a {
  color: #FF7100;
  text-decoration: underline;
}
#register-page .input-group-field {
  margin: 10px 0;
}
#register-page .errors {
  margin: 0;
  padding: 0;
  color: #FF7100;
}

#login-page h1 {
  font-family: "Euro Caps", Arial, sans-serif;
  color: #FF7100;
}
#login-page ::-webkit-input-placeholder {
  /* Chrome */
  color: #ff7100;
}
#login-page .input-group-field {
  margin: 10px 0;
}
#login-page .errors {
  margin: 0;
  padding: 0;
  color: #FF7100;
}

#account-page h1 {
  font-family: "Euro Caps", Arial, sans-serif;
  color: #FF7100;
}
#account-page ::-webkit-input-placeholder {
  /* Chrome */
  color: #ff7100;
}
#account-page p {
  color: #ff7100;
  font-family: "Euro Caps", Arial, sans-serif;
}

.center-container .border-container {
  border: 1px solid #FF7100;
  padding: 20px;
  margin: 125px 0;
}
.center-container .input-group {
  margin: 0 auto;
  line-height: 75px;
}
.center-container .input-group-field {
  background-color: black;
  border: 1px solid #FF7100;
  color: #FF7100;
}
.center-container .input-group-field:focus {
  background-color: black;
  border: 1px solid #FF7100;
  color: #FF7100;
  -webkit-box-shadow: none;
}
.center-container .submit-button {
  background-color: #FF7100;
  border: 1px solid #FF7100;
  color: black;
  height: 40px;
  padding: 0 15px 0 15px;
  outline: none;
  font-family: "Euro Caps", Arial, sans-serif;
  text-transform: uppercase;
}
.center-container .submit-button:hover {
  background-color: black;
  color: #FF7100;
  border: 1px solid #FF7100;
}

#post-page p {
  font-family: "Euro Caps", Arial, sans-serif;
  color: #FF7100;
}
#post-page small {
  color: #FF7100;
}
#post-page .post-container {
  margin-top: 15px;
  margin-bottom: 15px;
}
#post-page .post-container p {
  font-family: "Euro Caps", Arial, sans-serif;
  color: #FF7100;
}
#post-page .picture-container {
  padding: 0;
  margin-left: 15px;
  box-sizing: border-box;
}
#post-page .post-border {
  border: 1px solid #FF7100;
}
#post-page .details-container {
  background-color: #FF7100;
  padding-left: 15px;
}
#post-page .details-container h2 {
  font-family: "Euro Caps", Arial, sans-serif;
  margin: 0;
}
#post-page .details-container p {
  font-size: 18px;
  font-family: "Sintony", Arial, sans-serif;
  color: black;
  padding-top: 10px;
  margin: 0;
}
#post-page .details-container a {
  color: black;
  font-family: "Euro Caps", Arial, sans-serif;
}
#post-page .details-container a a:hover {
  color: red;
  text-decoration: underline;
}
#post-page .details-container small {
  font-family: "Euro Caps", Arial, sans-serif;
  color: black;
}
#post-page #delete-post-options {
  display: none;
}
#post-page section {
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 0;
  margin-right: 15px;
  width: 22.5%;
}
#post-page .comments-container {
  border: 1px solid #FF7100;
  padding-left: 15px;
  max-height: 980px;
  overflow-y: scroll;
  padding-right: 20px;
}
#post-page .comments-container article {
  margin-bottom: 25px;
}
#post-page .comments-container h1 {
  font-family: "Euro Caps", Arial, sans-serif;
  color: #FF7100;
}
#post-page .comments-container p {
  margin: 5px;
  font-family: "Sintony", Arial, sans-serif;
}
#post-page .comments-container small {
  font-size: 13px;
  padding-left: 20px;
  font-family: "Euro Caps", Arial, sans-serif;
}
#post-page .comments-container small a {
  color: #FF7100;
  font-family: "Euro Caps", Arial, sans-serif;
}
#post-page .comments-container small a a:hover {
  text-decoration: underline;
}
#post-page .comments-container .delete-comment-options {
  display: none;
}
#post-page .comments-container::-webkit-scrollbar {
  width: 5px;
  height: 50px;
}
#post-page .comments-container::-webkit-scrollbar-thumb {
  background-color: #ff7100;
}
#post-page .add-comments-container {
  margin-top: 15px;
}
#post-page textarea {
  font-family: "Euro Caps", Arial, sans-serif;
  background-color: black;
  border: 1px solid #FF7100;
  color: #FF7100;
}
#post-page .comment-button {
  float: right;
}
#post-page .submit-button {
  background-color: #FF7100;
  border: 1px solid #FF7100;
  color: black;
  height: 40px;
  padding: 0 15px 0 15px;
  outline: none;
  font-family: "Euro Caps", Arial, sans-serif;
  text-transform: uppercase;
}
#post-page .submit-button:hover {
  background-color: black;
  color: #FF7100;
  border: 1px solid #FF7100;
}

#edit-post-page h1 {
  font-family: "Euro Caps", Arial, sans-serif;
  color: #FF7100;
}
#edit-post-page ::-webkit-input-placeholder {
  /* Chrome */
  color: #ff7100;
}
#edit-post-page p {
  color: #ff7100;
  font-family: "Euro Caps", Arial, sans-serif;
}
#edit-post-page img {
  padding-bottom: 15px;
}

#edit-comment-page h1 {
  font-family: "Euro Caps", Arial, sans-serif;
  color: #FF7100;
}
#edit-comment-page ::-webkit-input-placeholder {
  /* Chrome */
  color: #ff7100;
}
#edit-comment-page p {
  color: #ff7100;
  font-family: "Euro Caps", Arial, sans-serif;
}
#edit-comment-page footer {
  clear: both;
  position: fixed;
  bottom: 0px;
  margin-bottom: 50px;
  width: 100%;
}

#search-page h1 {
  font-family: "Euro Caps", Arial, sans-serif;
  color: #FF7100;
}
#search-page ::-webkit-input-placeholder {
  /* Chrome */
  color: #ff7100;
}
#search-page p {
  color: #ff7100;
  font-family: "Euro Caps", Arial, sans-serif;
}
#search-page a {
  color: #FF7100;
  font-family: "Euro Caps", Arial, sans-serif;
}
#search-page a a:hover {
  text-decoration: underline;
}
#search-page hr {
  border-color: #FF7100;
}

#error-page h1 {
  font-family: "Euro Caps", Arial, sans-serif;
  color: #FF7100;
}
#error-page h2 {
  font-family: "Euro Caps", Arial, sans-serif;
  color: #FF7100;
}

footer {
  border-top: 1px solid #FF7100;
}
footer p {
  padding-top: 10px;
  color: #FF7100;
  text-align: center;
  font-family: "Sintony", Arial, sans-serif;
  font-size: 14px;
}

/*# sourceMappingURL=styles.css.map */
