@font-face {
	font-family: "Euro Caps";
	src: url("fonts/eurocaps.TTF");

	font-family: "Sintony";
	src: url("fonts/Sintony-Regular.otf");
}

// Nav bar located in master.php
nav {
	background-color: black;
	.sticky {
		background-color: black;
		border-bottom: 1px solid #FF7100;
	}
	.input-group {
		margin: 0 auto;
		line-height: 75px;
		.input-group-field {
			background-color: black;
			border: 1px solid #FF7100;
			color: #FF7100;
		}
		.input-group-field:focus {
  			-webkit-box-shadow: none;
 		}	
	}
	.submit-button {
		background-color: #FF7100;
		border: 1px solid #FF7100;
		color: black;
		height: 40px;
		padding: 0 15px 0 15px;
		outline: none;
		font-family: "Euro Caps", Arial, sans-serif;
		text-transform: uppercase;
	}
	.submit-button:hover {
		background-color: black;
		color: #FF7100;
		border: 1px solid #FF7100;
	}
	img {
		line-height: 75px;
		margin: 5px 0;
	}
	ul {
		line-height: 75px;
		li {
			list-style: none;
			a {
			float: right;
			color: #FF7100;
			margin-right: 30px;
			font-family: "Euro Caps", Arial, sans-serif;
			font-size: 22px;
			}
			a:hover {
				color: #FF7100;
			}
		}
	}
}

body {
	background-color: black;
	margin: 0;
	::-webkit-input-placeholder { /* Chrome */
  		color: #ff7100;
	}
}

#home-page {
	#grid {
		margin: 10px;
	}
	.grid-item {
		width: 32.333%;
		position: relative;
  		display: inline-block;
  		column-break-inside: avoid;
  		overflow: hidden;
  		margin: 5px;
  		border: 1px solid #FF7100;
		padding: 0;
  	}
	.upload-container {
		background-color: #FF7100;
		padding-left: 20px;

		h1 {
			margin: 0;
			padding: 0;
		}
		a {
			color: black;
			font-family: "Euro Caps", Arial, sans-serif;
			a:hover {
				text-decoration: underline;
			}
		}
	}
}

// Footer located in master.php
footer {
	border-top: 1px solid #FF7100;
	p {
		padding-top: 10px;
		color: #FF7100;
		text-align: center;
		font-family: "Sintony", Arial, sans-serif;
		font-size: 14px;
	}

}