@font-face {
	font-family: "Euro Caps";
	src: url("fonts/eurocaps.TTF");

	font-family: "Sintony";
	src: url("fonts/Sintony-Regular.otf");
}

// Nav bar located in master.php
nav {
	background-color: black;
	.sticky {
		background-color: black;
		border-bottom: 1px solid #FF7100;
	}
	.input-group {
		margin: 0 auto;
		line-height: 75px;
		.input-group-field {
			background-color: black;
			border: 1px solid #FF7100;
			color: #FF7100;
		}
		.input-group-field:focus {
  			-webkit-box-shadow: none;
 		}	
	}
	.submit-button {
		background-color: #FF7100;
		border: 1px solid #FF7100;
		color: black;
		height: 40px;
		padding: 0 15px 0 15px;
		outline: none;
		font-family: "Euro Caps", Arial, sans-serif;
		text-transform: uppercase;
	}
	.submit-button:hover {
		background-color: black;
		color: #FF7100;
		border: 1px solid #FF7100;
	}
	img {
		line-height: 75px;
		margin: 5px 0;
	}
	ul {
		line-height: 75px;
		li {
			list-style: none;
			a {
			float: right;
			color: #FF7100;
			margin-right: 30px;
			font-family: "Euro Caps", Arial, sans-serif;
			font-size: 22px;
			}
			a:hover {
				color: #FF7100;
			}
		}
	}
}

body {
	background-color: black;
	margin: 0;
	::-webkit-input-placeholder { /* Chrome */
  		color: #ff7100;
	}
}

#home-page {
	#grid {
		margin: 10px;
	}
	.grid-item {
		width: 32.333%;
		// position: relative;
  		display: inline-block;
  		column-break-inside: avoid;
  		overflow: hidden;
  		margin: 5px;
  		border: 1px solid #FF7100;
		padding: 0;
  	}
	.upload-container {
		background-color: #FF7100;
		padding-left: 20px;

		h1 {
			font-size: 28px;
			margin: 0;
			padding: 0;
		}
		a {
			color: black;
			font-family: "Euro Caps", Arial, sans-serif;
			a:hover {
				text-decoration: underline;
			}
		}
	}
}

#register-page {
	h1 {
		font-family: "Euro Caps", Arial, sans-serif;
		color: #FF7100;
	}
	small {
		font-family: "Sintony", Arial, sans-serif;
		color: #FF7100;
	}
	.disclaimer {
		padding-top: 20px;
		a {
			color: #FF7100;
			text-decoration: underline;
		}
	}
	.input-group-field {
		margin: 10px 0;
	}
	// Error message styling for forms
	.errors {
		margin: 0;
		padding: 0;
		color: #FF7100;
	}
}

#login-page {
	h1 {
		font-family: "Euro Caps", Arial, sans-serif;
		color: #FF7100;
	}
	::-webkit-input-placeholder { /* Chrome */
  		color: #ff7100;
	}
	.input-group-field {
		margin: 10px 0;
	}
	.errors {
		margin: 0;
		padding: 0;
		color: #FF7100;
	}
}

#account-page {
	h1 {
		font-family: "Euro Caps", Arial, sans-serif;
		color: #FF7100;
	}
	::-webkit-input-placeholder { /* Chrome */
  		color: #ff7100;
	}
	p {
		color: #ff7100;
		font-family: "Euro Caps", Arial, sans-serif;
	}
	input[type="file"] {
	    display: none;
	}
	label {
		background-color: #FF7100;
		border: 1px solid #FF7100;
		color: black;
		height: 40px;
		padding: 0 15px 0 15px;
		outline: none;
		font-family: "Euro Caps", Arial, sans-serif;
		text-transform: uppercase;
	}
	label:hover {
		background-color: black;
		color: #FF7100;
		border: 1px solid #FF7100;		
	}
}

// Bordered container for the Account, Register and Login page
.center-container {
		.border-container {
		border: 1px solid #FF7100;
		padding: 20px;
		margin: 125px 0;
	}
	.input-group {
		margin: 0 auto;
		line-height: 75px;
	}
	.input-group-field {
		background-color: black;
		border: 1px solid #FF7100;
		color: #FF7100;
		font-family: "Euro Caps", Arial, sans-serif;
	}
	.input-group-field:focus {
		background-color: black;
		border: 1px solid #FF7100;
		color: #FF7100;
		-webkit-box-shadow: none;
	}	
	.submit-button {
		background-color: #FF7100;
		border: 1px solid #FF7100;
		color: black;
		height: 40px;
		padding: 0 15px 0 15px;
		outline: none;
		font-family: "Euro Caps", Arial, sans-serif;
		text-transform: uppercase;
	}
	.submit-button:hover {
		background-color: black;
		color: #FF7100;
		border: 1px solid #FF7100;
	}
}

#post-page {
	p {
		font-family: "Euro Caps", Arial, sans-serif;
		color: #FF7100;
	}
	small {
		color: #FF7100;
	}
	.post-container {
		margin-top: 15px;
		margin-bottom: 15px;
		p {
			font-family: "Euro Caps", Arial, sans-serif;
			color: #FF7100;
		}
	}
	.picture-container {
		
		padding: 0;
		margin-left: 15px;
		box-sizing: border-box;
	}
	.post-border {
		border: 1px solid #FF7100;
	}

	.details-container {
		background-color: #FF7100;
		padding-left: 15px;		
		h2 {
			font-family: "Euro Caps", Arial, sans-serif;
			margin: 0;
		}
		p {
			font-size: 18px;
			font-family: "Sintony", Arial, sans-serif;
			color: black;
			padding-top: 10px;
			margin: 0;
		}
		a {
			color: black;
			font-family: "Euro Caps", Arial, sans-serif;
			a:hover {
				color: red;
				text-decoration: underline;
			}
		}
		small {
			font-family: "Euro Caps", Arial, sans-serif;
			color: black;
		}
	}
	#delete-post-options {
		display: none;
	}
	section {
		margin-bottom: 10px;
		box-sizing: border-box;
		padding: 0;
		margin-right: 15px;
		width: 22.5%;
	}
	.comments-container {
		border: 1px solid #FF7100;
		padding-left: 15px;
		max-height: 980px;
		overflow-y: scroll;
		padding-right: 20px;
		article {
			margin-bottom: 25px;
		}
		h1 {
			font-family: "Euro Caps", Arial, sans-serif;
			color: #FF7100;
		}
		p {
			margin: 5px;
			font-family: "Sintony", Arial, sans-serif;
		}
		small {
			font-size: 13px;
			padding-left: 20px;
			font-family: "Euro Caps", Arial, sans-serif;
			a {
				color: #FF7100;
				font-family: "Euro Caps", Arial, sans-serif;
				a:hover {
					text-decoration: underline;
				}
			}
		}
		.delete-comment-options {
			display: none;
		}
	}
	
	// Comment container scroll bar styling
	.comments-container::-webkit-scrollbar {
	    width: 5px;
	    height: 50px;
	   }
	 
	.comments-container::-webkit-scrollbar-thumb {
	  background-color: #ff7100;
	}

	.add-comments-container {
		margin-top: 15px;
	}

	textarea {
		font-family: "Euro Caps", Arial, sans-serif;
		background-color: black;
		border: 1px solid #FF7100;
		color: #FF7100;
	}
	.comment-button {
		float: right;
	}
	.submit-button {
		background-color: #FF7100;
		border: 1px solid #FF7100;
		color: black;
		height: 40px;
		padding: 0 15px 0 15px;
		outline: none;
		font-family: "Euro Caps", Arial, sans-serif;
		text-transform: uppercase;
	}
	.submit-button:hover {
		background-color: black;
		color: #FF7100;
		border: 1px solid #FF7100;
	}
	.test {
		
	}
}

#edit-post-page {
	h1 {
		font-family: "Euro Caps", Arial, sans-serif;
		color: #FF7100;
	}
	::-webkit-input-placeholder { /* Chrome */
  		color: #ff7100;
	}
	p {
		color: #ff7100;
		font-family: "Euro Caps", Arial, sans-serif;
	}
	img {
		padding-bottom: 15px;
	}
	input[type="file"] {
	    display: none;
	}
	label {
		background-color: #FF7100;
		border: 1px solid #FF7100;
		color: black;
		height: 40px;
		padding: 0 15px 0 15px;
		outline: none;
		font-family: "Euro Caps", Arial, sans-serif;
		text-transform: uppercase;
	}
	label:hover {
		background-color: black;
		color: #FF7100;
		border: 1px solid #FF7100;		
	}
}

#edit-comment-page {
	h1 {
		font-family: "Euro Caps", Arial, sans-serif;
		color: #FF7100;
	}
	::-webkit-input-placeholder { /* Chrome */
  		color: #ff7100;
	}
	p {
		color: #ff7100;
		font-family: "Euro Caps", Arial, sans-serif;
	}
	footer {
	clear: both;
    position: fixed;
    bottom: 0px;
    margin-bottom: 50px;
    width: 100%;		
	}
}

#search-page {
	h1 {
		font-family: "Euro Caps", Arial, sans-serif;
		color: #FF7100;
	}
	::-webkit-input-placeholder { /* Chrome */
  		color: #ff7100;
	}
	p {
		color: #ff7100;
		font-family: "Euro Caps", Arial, sans-serif;
	}
	a {
		color: #FF7100;
		font-family: "Euro Caps", Arial, sans-serif;
		a:hover {
			text-decoration: underline;
		}
	}	
	hr {
		border-color: #FF7100;
	}
}

#error-page {
	h1 {
		font-family: "Euro Caps", Arial, sans-serif;
		color: #FF7100;
	}
	h2 {
		font-family: "Euro Caps", Arial, sans-serif;
		color: #FF7100;		
	}
	.center-container {
		padding: 50px 0;
		margin: 50px 0;
	}
}

// Footer located in master.php
footer {
	// clear: both;
 //    position: fixed;
 //    bottom: 0px;
 //    width: 100%;
	border-top: 1px solid #FF7100;
	p {
		padding-top: 10px;
		color: #FF7100;
		text-align: center;
		font-family: "Sintony", Arial, sans-serif;
		font-size: 14px;
	}

}